<div class="heading">
  <h1><%= t(".title") %></h1>
</div>

<table id="job-postings" class="tablesorter tablesorter-blue table">
  <thead>
    <tr>
      <th><span class="posting-date"><%= t(".date") %></span></th>
      <th><span class="posting-title"><%= t(".job_title") %></span></th>
      <th><span class="posting-poster"><%= t(".poster") %></span></th>
      <th><span class="posting-category"><%= t(".category") %></span></th>
      <th><span class="posting-location"><%= t(".location") %></span></th>
      <th><span class="posting-status"><%= t(".status") %></span></th>
      <th><span class="posting-actions"><%= t(".actions") %></span></th>
  </thead>
  <tbody>
    <% @job_postings.each do |posting| %>
      <tr class="job-posting-<%= posting.id %>">
        <td class="posting-date"><%= ldate_time(posting.posted_at, format: :short) %></td>
        <td class="posting-title"><%= posting.title %></td>
        <td class="posting-poster"><%= posting.poster_name %></td>
        <td class="posting-category"><%= posting.category_name %></td>
        <td class="posting-location"><%= posting.location_city %></td>
        <td class="posting-status"><%= posting.status %></td>
        <td class="posting-actions">
          <%= link_to t(".action.view"), posting %>
          <%= link_to t(".action.edit"), edit_job_posting_path(posting) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @job_postings %>

<div class="actions">
  <%= link_to t(".action.new_job"), new_job_posting_path, class: "btn btn-primary" %>
  <%= link_to t(".action.new_location"), new_location_path, class: "btn btn-default" %>
</div>
